<div static-include="/public/client/views/controllers/home/navigation-bar-view.html"></div>

<div class="row clearfix">

    <div class="col-sm-8 col-sm-offset-2 column">

        <div static-include="/public/client/views/controllers/home/email-notification-view.html"></div>

        <div static-include="/public/client/views/controllers/home/error-view.html"></div>

        <div static-include="/public/client/views/controllers/home/breadcrumb-view.html"></div>

        <div static-include="/public/client/views/controllers/home/form/form-view.html"></div>

    </div>

</div>