<div ng-repeat="(localeCode, locale) in locales">
    <div ng-switch="localeCode == currentLocaleCode"
         ng-click="setLocale(localeCode)"
         style="cursor: pointer;padding-left: 2px;padding-right: 2px"
         tooltip="{{ ('locales.' + localeCode) | translate }}"
         tooltip-placement="left" tooltip-popup-delay="0">

        <div ng-switch-when="true">
            <img ng-src="{{ locale.enabledIcon }}" alt="{{ localeCode }}">
        </div>
        <div ng-switch-when="false">
            <img ng-src="{{ locale.disabledIcon }}" alt="{{ localeCode }}">
        </div>
    </div>
</div>