<div class="text-center">
    <div class="row clearfix">

        <div class="col-md-7 column">

            <span class="pull-left">
                ID: <b>{{ user.id }}</b>
            </span>

            <br>

            <span class="pull-left">
                User name: <b>{{ user.displayName }}</b>
            </span>

            <br>

            <span class="pull-left">
                Registered date: <b>{{ user.registeredDate | formatDate:'mmmm d, yyyy, h:MM TT' }}</b>
            </span>
        </div>

        <div class="col-md-1 column text-center" style="margin-top: 18px;">
            <div ng-show="user.isCreator">
                <i class="fa fa-user" tooltip="Creator of this workspace"></i>
            </div>
        </div>

        <div class="col-md-4 column">
            <div>
                <span class="pull-left" btn-checkbox ng-model="permissions.readOnly">
                    <i class="fa"
                       ng-class="{ 'fa-square-o' : !permissions.readOnly, 'fa-check-square-o' : permissions.readOnly }">
                    </i>
                    &nbsp;
                    Read only
                </span>

                <br>

                <span class="pull-left" btn-checkbox ng-model="permissions.collectionManager">
                    <i class="fa"
                       ng-class="{ 'fa-square-o' : !permissions.collectionManager, 'fa-check-square-o' : permissions.collectionManager }">
                    </i>
                    &nbsp;
                    Collection manager
                </span>

                <br>

                <span class="pull-left" btn-checkbox ng-model="permissions.accessManager">
                    <i class="fa"
                       ng-class="{ 'fa-square-o' : !permissions.accessManager, 'fa-check-square-o' : permissions.accessManager }">
                    </i>
                    &nbsp;
                    Access manager
                </span>
            </div>
        </div>

    </div>
</div>