<div class="row clearfix">

    <div class="col-md-12 column">
        <label>Workspace name</label>

        <div class="form-group-sm" ng-class="{ 'has-feedback' : !!genericModel.workspaceName }"
             style="margin-bottom: 0">
            <label class="control-label" ng-show="false"></label>
            <input type="text" class="form-control input-sm"
                   placeholder="Enter workspace name"
                   autofocus autocomplete="off" ng-model="genericModel.workspaceName">
                <span class="form-control-feedback" style="top: 0"
                      ng-show="!!genericModel.workspaceName">
                    <i class="fa fa-times" style="cursor: pointer"
                       tooltip="{{ 'home.clear' | translate }}"
                       ng-click="genericModel.workspaceName = ''"></i>
                </span>
        </div>

    </div>

    <div class="col-md-12 column text-center" ng-show="canRemove()">
        <span class="btn btn-danger btn-sm" ng-click="removeWorkspace()" style="margin-top: 15px">
              <i class="fa fa-trash-o"></i>
              &nbsp;
              Remove workspace
        </span>
    </div>

</div>