<div class='ng-modal' ng-show='show'>
    <div class='ng-modal-overlay'>
    </div>

    <div class='ng-modal-dialog' ng-style='dialogStyle'>

        <div class='ng-modal-dialog-content'>

            <div dialog-title>
                Here <span>{{ presentUsers.length }}</span> user(s)
            </div>

            <div users-collection class="list-frame">
                <ul ng-repeat="user in presentUsers" is-lats-item="{{ $last }}">
                    <li item>
                        User ID: <b>{{ user.id }}</b>
                        <br>
                        User name: <b>{{ user.displayName }}</b>
                        <br>
                        Registered date: <b>{{ user.registeredDate }}</b>
                    </li>
                </ul>
            </div>
            <div>
                <button control ng-click="close()">Close</button>
            </div>
        </div>
    </div>
</div>