<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    <title>Internal Server Error</title>

    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css">

    <style>
        body {
            padding-top: 80px;
        }

        .homer-position {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>

<div class="container">

    <h1 class="text-center">Internal Server Error</h1>

    <div class="alert text-center">
        Something fell off...
    </div>

    <img src="/images/500.png" class="homer-position" width="230" height="208">

</div>

</body>
</html>