<!doctype html>
<html lang="en" data-framework="angularjs">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TodoMVC</title>

    <link rel="stylesheet" href="styles/base.css">

    <style>
        [ng-cloak] {
            display: none;
        }
    </style>
</head>
<body ng-cloak>

<div todo-application default-workspace-id="<%= workspaceId %>">

    <div>
        <span id="provider">Logged via <b><%= provider %></b> in
            <select ng-model="currentWorkspace"
                    ng-options="workspace.name for workspace in workspaces">
            </select>
        </span>
        <a id="logout" ng-click="logout()"><b>Logout</b></a>
    </div>

    <section id="todo-app">

        <header id="header">

            <h2><%= displayName %></h2>

            <form id="todo-form" ng-submit="addTodo()">
                <input id="new-todo" placeholder="What needs to be done?" ng-model="newTodo" autofocus
                       autocomplete="off">
            </form>
        </header>
        <section id="main" ng-show="todos.length">
            <input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
            <label for="toggle-all">Mark all as complete</label>
            <ul id="todo-list">
                <li ng-repeat="todo in todos | filter:statusFilter"
                    ng-class="{completed: todo.completed, editing: todo == editedTodo}">
                    <div class="view">
                        <input class="toggle" type="checkbox" ng-model="todo.completed" ng-change="mark(todo)">
                        <label ng-dblclick="editTodo(todo)">{{todo.title}}</label>
                        <button class="destroy" ng-click="removeTodo(todo)"></button>
                    </div>
                    <form ng-submit="doneEditing(todo)">
                        <input class="edit" ng-model="todo.title" todo-blur="doneEditing(todo)"
                               todo-focus="todo == editedTodo">
                    </form>
                </li>
            </ul>
        </section>
        <footer id="footer" ng-show="todos.length" ng-cloak>
				<span id="todo-count"><strong>{{remainingCount}}</strong>
					<ng-pluralize count="remainingCount"
                                  when="{ one: 'item left', other: 'items left' }">
                    </ng-pluralize>
				</span>
            <ul id="filters">
                <li>
                    <a ng-class="{selected: location.path() == '/'} " href="#/">All</a>
                </li>
                <li>
                    <a ng-class="{selected: location.path() == '/active'}" href="#/active">Active</a>
                </li>
                <li>
                    <a ng-class="{selected: location.path() == '/completed'}" href="#/completed">Completed</a>
                </li>
            </ul>
            <button id="clear-completed" ng-click="clearDoneTodos()" ng-show="remainingCount < todos.length">Clear
                completed
                ({{todos.length - remainingCount}})
            </button>
        </footer>

    </section>

    <footer id="info">
        <p>Double-click to edit a todo</p>
    </footer>

</div>

<script type="text/javascript" src="libs/jquery.js"></script>
<script type="text/javascript" src="libs/angular.js"></script>
<script type="text/javascript" src="libs/underscore.js"></script>

<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/directives/todo-blur.js"></script>
<script type="text/javascript" src="js/directives/todo-focus.js"></script>
<script type="text/javascript" src="js/directives/todo-app.js"></script>
<script type="text/javascript" src="js/services/todo-storage.js"></script>
<script type="text/javascript" src="js/services/workspace-provider.js"></script>

<script type="text/javascript" src="libs/angular.js"></script>

</body>
</html>
