<div>
    <div class="modal-header">
        <span class="close" ng-click="cancel()">×</span>
        <h4 style="margin-bottom: 0;margin-top: 0;">
            <i class="fa fa-pencil"></i>
            &nbsp;
            Edit todo
        </h4>
    </div>

    <div class="modal-body">

        <form ng-submit="save(itemModel)">

            <div class="input-group task-add">
                <input class="form-control input-sm" type="text"
                       ng-model="itemModel" autofocus autocomplete="off">

                    <span class="btn btn-danger btn-sm input-group-addon" href
                          ng-click="itemModel = ''"
                          ng-class="{ 'disabled' : !itemModel }">
                        <i class="fa fa-eraser"></i>
                        Clear
                    </span>

            </div>

        </form>

    </div>
    <div class="modal-footer ng-scope" style="margin-top: 0">
        <span class="btn btn-warning btn-sm" ng-click="cancel()">
            <i class="fa fa-share"></i>
            &nbsp;
            Cancel
        </span>
        <span class="btn btn-primary btn-sm" ng-click="save(itemModel)"
              ng-class="{ 'disabled' : !itemModel || itemModel == originItemModel }">
            <i class="fa fa-floppy-o"></i>
            &nbsp;
            Save
        </span>
    </div>
</div>