<div>

    <div class="modal-header">
        <h4 style="margin-bottom: 0;margin-top: 0;">
            <i class="fa fa-coffee"></i>
            &nbsp;
            Лекція призупинена
        </h4>
    </div>

    <div class="modal-body text-center">

        <i class="fa fa-coffee" style="font-size: 20em"></i>

        <br>
        <br>

        <span>
            <i class="fa fa-refresh fa-spin"></i>
            &nbsp;
            Будь ласка, дочекайтеся продовження
        </span>

    </div>

    <div class="modal-footer ng-scope" style="margin-top: 0">
        <span class="btn btn-danger btn-sm" ng-click="leaveLecture()">
            <i class="fa fa-sign-out"></i>
            &nbsp;
            Покинути лекцію
        </span>
    </div>
</div>