<div>
    <div class="modal-header">
        <h4>
            Workspace <b>{{ dialogTitle }}</b>
        </h4>
    </div>
    <div class="modal-body">

        <!--        <div users-collection class="list-frame">
                    <ul ng-repeat="user in users" is-lats-item="{{ $last }}">
                        <li item list-item user="user">
                        </li>
                    </ul>
                </div>-->

    </div>
    <div class="modal-footer ng-scope" style="margin-top: 0">
        <a class="btn btn-primary" ng-click="save()" href>
            <i class="fa fa-floppy-o"></i>
            Save
        </a>
        <a class="btn btn-warning" ng-click="cancel()" href>
            <i class="fa fa-share"></i>
            Cancel
        </a>
    </div>
</div>