<div>
    <div class="modal-header">
        <span class="close" ng-click="cancel()">×</span>
        <h4 style="margin-bottom: 0;margin-top: 0;">
            <i class="fa fa-plus"></i>
            &nbsp;
            Create workspace
        </h4>
    </div>

    <div class="modal-body">

        <form ng-submit="createWorkspace()">

            <div class="row clearfix">
                <div class="col-md-12 column">

                    <input class="form-control input-sm" type="text"
                           ng-model="creatorModel.workspaceName" autofocus autocomplete="off">

                <span class="pull-left" btn-checkbox ng-model="creatorModel.switchWorkspace"
                      style="margin-top: 15px;cursor: pointer">
                    <i class="fa"
                       ng-class="{ 'fa-square-o' : !creatorModel.switchWorkspace, 'fa-check-square-o' : creatorModel.switchWorkspace }">
                    </i>
                    &nbsp;
                    Switch workspace after create
                </span>

                </div>
            </div>

        </form>

    </div>
    <div class="modal-footer ng-scope" style="margin-top: 0">
        <span class="btn btn-warning btn-sm" ng-click="cancel()">
            <i class="fa fa-share"></i>
            &nbsp;
            Cancel
        </span>
        <span class="btn btn-success btn-sm" ng-click="createWorkspace()"
              ng-class="{ 'disabled' : !creatorModel.workspaceName }">
            <i class="fa fa-plus"></i>
            &nbsp;
            Create workspace
        </span>
    </div>
</div>