<div>
    <div class="modal-header">
        <h4>
            Workspace <b>{{ dialogTitle }}</b>
        </h4>
    </div>
    <div class="modal-body">

        <div class="list-group" style="margin: 0;max-height: 400px;overflow-y: auto;">
            <a ng-repeat="user in users"
               href class="list-group-item">
                <div list-item user="user"></div>
            </a>
        </div>

    </div>
    <div class="modal-footer ng-scope" style="margin-top: 0">
        <a class="btn btn-primary" ng-click="save()" href>
            <i class="fa fa-floppy-o"></i>
            Save
        </a>
        <a class="btn btn-warning" ng-click="cancel()" href>
            <i class="fa fa-share"></i>
            Cancel
        </a>
    </div>
</div>