<div class="row clearfix" style="margin-top: 15px">

<div class="col-sm-8 col-sm-offset-2 column">

    <div generic-header user="user">
    </div>

<section class="panel tasks-widget" style="padding: 15px">

    <form ng-submit="addLecture()">

        <div class="input-group task-add">

            <div class="form-group-sm" ng-class="{ 'has-feedback' : !!newLecture }">

                <label class="control-label" ng-show="false"></label>

                <input type="text" class="form-control" id="main-input"
                       placeholder="Введіть назву лекції"
                       autofocus autocomplete="off" ng-model="newLecture"
                       style="border-bottom-left-radius: 3px;border-top-left-radius: 3px;">

                        <span class="form-control-feedback" style="top: 0"
                              ng-show="!!newLecture">
                            <i class="fa fa-times" style="cursor: pointer"
                               tooltip="Очистити"
                               ng-click="clearInput()"></i>
                        </span>
            </div>

                 <span class="input-group-btn">

                     <span class="btn btn-success"
                           ng-click="addLecture()">
                         <i class="fa fa-plus"></i>
<!--                         &nbsp;
                         Додати лекцію-->
                     </span>

                 </span>

        </div>

    </form>

    <div class="panel-body" style="padding: 15px 0 0;">

        <div>

            <div ng-switch="loading">

                <div ng-switch-when="true">
                    <div static-include="/client/views/common/loader-view.html"></div>
                </div>

                <div ng-switch-when="false">

                    <div ng-switch="lectures.length > 0">
                        <div ng-switch-when="true">

                            <ul class="list-group"
                                style="margin-bottom: 0">
                                <li ng-repeat="lecture in lectures" class="list-group-item"
                                    ng-class="{ 'disabled' : lecture.status == 'suspended' }">

                                    <div class="row clearfix">

                                        <div class="col-sm-12 column" style="margin-bottom: 15px;">

                                            <div>
                                                <a ng-href="/#/administration/questions/{{ lecture.id }}">
                                                    {{ lecture.name }}
                                                </a>
                                            </div>

                                        </div>

                                        <div class="col-sm-12 column">

                                            <div class="pull-left">

                                                <a class="btn btn-success"
                                                   ng-href="/#/administration/active-lecture/{{ lecture.id }}"
                                                   tooltip="Розпочати лекцію"
                                                   ng-click="startLecture(lecture)"
                                                   ng-show="lecture.status == 'stopped'">
                                                    <i class="fa fa-play"></i>
                                                </a>

                                                <div class="btn btn-primary"
                                                     tooltip="Продовжити лекцію"
                                                     ng-click="resumeLecture(lecture)"
                                                     ng-show="lecture.status == 'suspended'">
                                                    <i class="fa fa-play"></i>
                                                </div>

                                                <div class="btn btn-primary"
                                                     tooltip="Зробити паузу"
                                                     ng-click="suspendLecture(lecture)"
                                                     ng-show="lecture.status == 'started'">
                                                    <i class="fa fa-pause"></i>
                                                </div>

                                                <div class="btn btn-danger"
                                                     tooltip="Зупинити лекцію"
                                                     ng-click="stopLecture(lecture)"
                                                     ng-show="lecture.status == 'started' || lecture.status == 'suspended'">
                                                    <i class="fa fa-stop"></i>
                                                </div>

                                            </div>

                                            <div class="pull-right">

                                                <a class="btn btn-default"
                                                   ng-show="lecture.status == 'stopped'"
                                                   tooltip="Показати статистику"
                                                   ng-href="/#/administration/statistic/{{ lecture.id }}"
                                                   style="padding-left: 3px;padding-right: 3px;">
                                                    <i class="fa fa-area-chart"></i>
                                                </a>

                                                <div class="btn btn-primary"
                                                     tooltip="Редагувати лекцію"
                                                     ng-disabled="lecture.status != 'stopped'"
                                                     ng-click="editLecture(lecture)">
                                                    <i class="fa fa-pencil"></i>
                                                </div>

                                                <div class="btn btn-danger"
                                                     tooltip="Видалити лекцію"
                                                     ng-disabled="lecture.status != 'stopped'"
                                                     ng-click="removeLecture(lecture)">
                                                    <i class="fa fa-trash-o"></i>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="col-sm-12 column"
                                             ng-show="lecture.status == 'started' || lecture.status == 'suspended'">

                                            <div class="pull-left" style="margin-top: 15px;">
                                                <span>
                                                    <a class="btn btn-primary"
                                                       tooltip="Увійти"
                                                       ng-href="/#/administration/active-lecture/{{ lecture.id }}"
                                                       ng-show="lecture.status == 'started' || lecture.status == 'suspended'">
                                                        <i class="fa fa-sign-in"></i>
                                                    </a>
                                                </span>

                                                <span ng-show="lecture.status != 'stopped'"
                                                     style="cursor: pointer;"
                                                     ng-click="showPresentListeners(lecture)">
                                                    <i class="fa fa-users"
                                                       tooltip="Присутні слухачі"></i>&nbsp;<b>{{
                                                    (lecture.presentListeners || []).length }}</b>
                                                </span>

                                                <span ng-show="lecture.status != 'stopped'"
                                                     style="vertical-align: middle;">
                                                    <i class="fa fa-clock-o"
                                                       tooltip="Продовження леції"></i>&nbsp;<b>{{ lecture.duration
                                                    || 0
                                                    | formatTime }}</b>
                                                </span>
                                            </div>

                                        </div>
                                    </div>

                                </li>
                            </ul>

                        </div>

                        <div ng-switch-when="false">

                            <div class="text-center">
                                <div class="row clearfix">
                                    <div class="col-md-12 column">
                                        Немає лекцій
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

</section>

</div>

</div>