<div class="row clearfix">

    <div class="col-md-6 column">

        <div class="form-group-sm" ng-class="{ 'has-feedback' : !!model.data['minValue'] }"
             style="margin-bottom: 0">
            <label class="control-label" ng-show="false"></label>
            <input type="number" class="form-control input-sm"
                   placeholder="Мінімальне значення"
                   autofocus autocomplete="off" ng-model="model.data['minValue']">

            <div class="form-control-feedback" style="top: 0"
                 ng-show="!!model.data['minValue']">
                <i class="fa fa-times" style="cursor: pointer"
                   ng-click="model.data['minValue'] = 0"></i>
            </div>
        </div>

    </div>

    <div class="col-md-6 column">

        <div class="form-group-sm" ng-class="{ 'has-feedback' : !!model.data['maxValue'] }"
             style="margin-bottom: 0">
            <label class="control-label" ng-show="false"></label>
            <input type="number" class="form-control input-sm"
                   placeholder="Максимальне значення"
                   autofocus autocomplete="off" ng-model="model.data['maxValue']">

            <div class="form-control-feedback" style="top: 0"
                 ng-show="!!model.data['maxValue']">
                <i class="fa fa-times" style="cursor: pointer"
                   ng-click="model.data['maxValue'] = 0"></i>
            </div>
        </div>

    </div>

</div>