<div class="row clearfix" style="margin-top: 15px" ng-show="showView">

    <div class="col-sm-8 col-sm-offset-2 column">

        <div generic-header user="user">
        </div>

        <div class="text-center col-md-12 col-xs-12" style="margin-top: 15px;margin-bottom: 15px;">
            {{ lecture.name }}
        </div>

        <section class="panel" style="/*padding: 15px;">

            <div class="panel-body text-center survey-form" style="/*padding: 0;">

                <div class="row clearfix">
                    <div class="col-md-12 col-xs-12 column"
                         style="border-bottom: 1px solid #ddd;padding-bottom: 15px;">

                        <div class="pull-left" style="cursor: pointer;padding-right: 6px;"
                             ng-click="showPresentListeners()">
                            <i class="fa fa-users"
                               tooltip="Присутні слухачі"></i>&nbsp;<b>{{ (lecture.presentListeners
                            || []).length }}</b>
                        </div>

                        <div class="pull-left" style="/*padding-right: 3px;vertical-align: middle;">
                            <i class="fa fa-clock-o"
                               tooltip="Продовження леції"></i>&nbsp;<b>{{ lecture.duration || 0 | formatTime }}</b>
                        </div>

                        <div class="pull-right">

                            <a class="btn btn-primary btn-xs btn-sm" href
                                  ng-click="quit()">
                                <i class="fa fa-sign-out"></i>&nbsp;Покинути лекцію
                            </a>

                        </div>
                        <i class="clearfix"></i>
                    </div>
                </div>

                <div class="row clearfix">

                    <tabset style="margin-top: 5px;margin-left: 5px;margin-right: 5px;">
                        <tab ng-repeat="tab in tabs" select="setActiveTab(tab)" active="tab.isActive"
                             style="width: 60px;">
                            <tab-heading>
                                <i class="fa {{ tab.icon }}"></i>
                            </tab-heading>
                            <div ng-include="tab.templateUrl" class="col-md-12 col-xs-12"
                                 style="/*border: 1px solid #ddd;margin-top: -1px;padding: 15px;
                                 border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;">
                            </div>
                        </tab>
                    </tabset>

                </div>

            </div>

        </section>

    </div>

</div>