.tree_selected_item {
    background: #F8951D;
    cursor: pointer;
    height: 32px;
    max-height: 32px;
    padding-left: 5px;
    padding-right: 5px;
}

.tree_plus_0 {
    background: url("tree-sprite.png") -224px -32px;
    width: 32px;
    height: 32px;
    float: left;
    cursor: pointer;
}

.tree_plus_1 {
    background: url("tree-sprite.png") -160px -32px;
    width: 32px;
    height: 32px;
    float: left;
    cursor: pointer;
}

.tree_plus_2 {
    background: url("tree-sprite.png") 0 -32px;
    width: 32px;
    height: 32px;
    float: left;
    cursor: pointer;
}

.tree_plus_3 {
    background: url("tree-sprite.png") -96px -32px;
    width: 32px;
    height: 32px;
    float: left;
    cursor: pointer;
}

.tree_minus_0 {
    background: url("tree-sprite.png") -256px -32px;
    width: 32px;
    height: 32px;
    float: left;
    cursor: pointer;
}

.tree_minus_1 {
    background: url("tree-sprite.png") -192px -32px;
    width: 32px;
    height: 32px;
    float: left;
    cursor: pointer;
}

.tree_minus_2 {
    background: url("tree-sprite.png") -32px -32px;
    width: 32px;
    height: 32px;
    float: left;
    cursor: pointer;
}

.tree_minus_3 {
    background: url("tree-sprite.png") -128px -32px;
    width: 32px;
    height: 32px;
    float: left;
    cursor: pointer;
}

.tree_icon_directory {
    background: url("tree-sprite.png") -256px -0px;
    width: 32px;
    height: 32px;
    float: left;
}

.tree_icon_file {
    background: url("tree-sprite.png") -32px 0;
    width: 32px;
    height: 32px;
    float: left;
}

.tree_line_1 {
    background: url("tree-sprite.png") 0 0;
    width: 32px;
    height: 32px;
    float: left;
}

.tree_line_2 {
    background: url("tree-sprite.png") -64px 0;
    width: 32px;
    height: 32px;
    float: left;
}

.tree_line_3 {
    background: url("tree-sprite.png") -64px -32px;
    width: 32px;
    height: 32px;
    float: left;
}

.tree_item {
    height: 32px;
    cursor: pointer;
    display: inline-block;
    line-height: 32px;
    margin-left: 5px;
    margin-right: 5px;
}

.tree_item:hover {
    text-decoration: underline;
}

.tree_node {
    height: 32px;
}

.tree_space {
    height: 32px;
    width: 32px;
    float: left;
}