.tree_selected_item {
    background: #F8951D;
    cursor: pointer;
    height: 28px;
    max-height: 28px;
    padding-left: 5px;
    padding-right: 5px;
}

.tree_plus_0 {
    background-image: url("plus_0.png");
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    float: left;
    cursor: pointer;
}

.tree_plus_1 {
    background-image: url("plus_1.png");
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    float: left;
    cursor: pointer;
}

.tree_plus_2 {
    background-image: url("plus_2.png");
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    float: left;
    cursor: pointer;
}

.tree_plus_3 {
    background-image: url("plus_3.png");
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    float: left;
    cursor: pointer;
}

.tree_minus_0 {
    background-image: url("minus_0.png");
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    float: left;
    cursor: pointer;
}

.tree_minus_1 {
    background-image: url("minus_1.png");
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    float: left;
    cursor: pointer;
}

.tree_minus_2 {
    background-image: url("minus_2.png");
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    float: left;
    cursor: pointer;
}

.tree_minus_3 {
    background-image: url("minus_3.png");
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    float: left;
    cursor: pointer;
}

.tree_item_icon {
    background-image: url("org_icon.png");
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    float: left;
}

.tree_line_1 {
    background-image: url("line_1.png");
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    float: left;
}

.tree_line_2 {
    background-image: url("line_2.png");
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    float: left;
}

.tree_line_3 {
    background-image: url("line_3.png");
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    float: left;
}

.tree_item {
    height: 28px;
    cursor: pointer;
    display: inline-block;
    line-height: 28px;
    margin-left: 5px;
    margin-right: 5px;
}

.tree_item:hover {
    text-decoration: underline;
}

.tree_node {
    height: 28px;
}

.tree_space {
    height: 28px;
    width: 28px;
    float: left;
}