<div>

    <div survey-donut model="pieModel" style="margin-top: 15px;margin-bottom: 15px;">
    </div>

    <div class="col-md-6 column col-xs-6" style="padding-left: 0;padding-right: 7px;">

        <span class="btn btn-success col-md-12 text-center" style="width: 100%;"
              ng-click="updateStatistic(1)">
            <i class="fa fa-smile-o fa-5x"></i>
            <br>
            Зрозуміло
        </span>

    </div>

    <div class="col-md-6 col-xs-6 column" style="padding-right: 0;padding-left: 7px;">

        <span class="btn btn-danger col-md-12 text-center" style="width: 100%;"
              ng-click="updateStatistic(0)">
            <i class="fa fa-frown-o fa-5x"></i>
            <br>
            Незрозуміло
        </span>

    </div>
</div>