<div class="row clearfix">
    <div class="col-md-12 column">

        <div ng-switch="teacherQuestions.length > 0">
            <div ng-switch-when="true">

                <ul class="list-group" style="margin-top: 15px;margin-bottom: 0;">
                    <li ng-repeat="question in (teacherQuestions || [])" class="list-group-item text-left">

                        <span>
                            {{ question.title }}
                        </span>

                        <br>

                        <span style="margin-top: 15px;">
                            <div ng-switch="!!question.answer">
                                <div ng-include="answerForms[question.type]">
                                </div>
                                <div ng-switch-when="true">
                                    Ваша відповідь: <b>{{ {'YES':'Так','NO':'Ні'}[question.answer] }}</b>
                                </div>
                                <div ng-switch-when="false" style="margin-top: 15px;">
                                    <span class="btn btn-success btn-xs"
                                          ng-click="replyForTeacherQuestion(question, 'YES')">
                                        <i class="fa fa-thumbs-o-up"></i>&nbsp;Так
                                    </span>
                                    <span class="btn btn-danger btn-xs"
                                          ng-click="replyForTeacherQuestion(question, 'NO')">
                                        <i class="fa fa-thumbs-o-down"></i>&nbsp;Ні
                                    </span>
                                </div>
                            </div>
                        </span>

                    </li>
                </ul>

            </div>
            <div ng-switch-when="false">
                <div class="text-center col-md-12" style="margin-top: 15px;">
                    Немає запитань, поки що
                </div>
            </div>
        </div>
    </div>
</div>