<section>

    <form ng-submit="addCase()">

        <div class="input-group ">

            <div class="form-group-sm" ng-class="{ 'has-feedback' : !!newCase }">

                <label class="control-label" ng-show="false"></label>

                <input type="text" class="form-control input-sm" id="main-input"
                       placeholder="Введіть варіант відповіді"
                       autofocus autocomplete="off" ng-model="newCase"
                       style="border-bottom-left-radius: 3px;border-top-left-radius: 3px;">

                <div class="form-control-feedback" style="top: 0"
                     ng-show="!!newCase">
                    <i class="fa fa-times" style="cursor: pointer"
                       tooltip="Очистити"
                       ng-click="newCase = ''"></i>
                </div>
            </div>

            <div class="input-group-btn">

                <div class="btn btn-success btn-sm"
                     ng-click="addCase()">
                    <i class="fa fa-plus"></i>
                    &nbsp;
                    Додати варіант
                </div>

            </div>

        </div>

    </form>

    <div style="padding: 15px 0 0;">

        <div>

            <div ng-switch="model.data['length'] > 0">
                <div ng-switch-when="true">

                    <ul class="list-group"
                        style="margin-bottom: 0">
                        <li ng-repeat="caseItem in model.data track by $index" class="list-group-item">

                            <div>
                                {{ caseItem }}
                            </div>

                            <div class="pull-right" style="margin-top: -2px;margin-right: -6px">

                                <div class="btn btn-primary btn-xs"
                                     tooltip="Редагувати варіант"
                                     ng-click="editCase($index)"
                                     style="margin-top: -34px;">
                                    <i class="fa fa-pencil"></i>
                                </div>

                                <div class="btn btn-danger btn-xs"
                                     tooltip="Видалити варіант"
                                     ng-click="removeCase($index)"
                                     style="margin-top: -34px;">
                                    <i class="fa fa-trash-o"></i>
                                </div>

                            </div>
                        </li>
                    </ul>

                </div>

                <div ng-switch-when="false">

                    <div class="text-center">
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                Немає варіантів
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

</section>