<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <ul class="nav navbar-nav navbar-left">
            <li class="dropdown" is-open="workspaceDropdown.isOpen">
                <a href class="dropdown-toggle" data-toggle="dropdown">
                    <span>
                    <span ng-show="user.defaultWorkspaceId == currentWorkspace.id">
                        <i class="fa fa-home"></i>
                    </span>
                        {{ currentWorkspace.name }}
                    </span>
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu" role="menu">
                    <li style="margin: 0">

                        <!--<span class="close" ng-click="cancel()">×</span>-->

                        <a href workspace-tree tree-id="home-tree" tree-model="treeModel"
                           on-selection="onWorkspaceChanged(node)"
                           on-loading="onWorkspaceLoading(item, callback)"
                           style="padding-left: 15px;padding-right: 15px;">
                        </a>

                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href ng-click="showWorkspaceCreator()">
                            <i class="fa fa-plus"></i>
                            &nbsp;
                            Create workspace
                        </a>
                    </li>
                </ul>

            </li>
        </ul>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <div class="media" style="padding-top: 4px;padding-right: 5px;padding-left: 4px;">
                        <a class="pull-right" style="margin: 0;padding: 2px;" href>
                            <img class="media-object" ng-src="/client/images/default-avatar.gif"
                                 style="border-radius: 3px;"
                                 width="38px" height="38px">
                        </a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href class="dropdown-toggle" data-toggle="dropdown">
                        {{ user.displayName }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#/settings">
                                <i class="fa fa-cog"></i>
                                &nbsp;
                                Settings
                            </a>
                        </li>
                        <li>
                            <a href="#/profile">
                                <i class="fa fa-pencil-square-o"></i>
                                &nbsp;
                                Edit profile
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href ng-click="logout()">
                                <i class="fa fa-sign-out"></i>
                                &nbsp;
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>

<div class="row clearfix">

    <div class="col-md-2 column">
    </div>

    <div class="col-md-8 column">

        <ol class="panel breadcrumb" ng-show="breadcrumb.length">
            <li ng-repeat="item in breadcrumb" ng-class="{ 'active' : $last }"><a ng-if="!$last"
                                                                                  href="javascript:void(0)"
                                                                                  ng-click="item.click()">{{ item.title }}
            </a><span ng-if="$last">{{ item.title }}</span>
            </li>
        </ol>

        <div ng-show="errorMessage != null">
            <alert type="danger" close="errorMessage = null" class="text-center">
                {{ errorMessage }}
            </alert>
        </div>

        <section class="panel tasks-widget">
            <header class="panel-heading text-center"
                    ng-class="{'header' : canManageCollection(), 'header-min' : !canManageCollection()}">

            <span title="Third party users" class="pull-left"
                  style="cursor: pointer"
                  ng-click="showPresentUsers()">
                <i class="fa fa-users"></i>
                &nbsp;
                {{ presentUsers.length }}
            </span>

            <span ng-show="isOwnWorkspace" title="Own workspace">
                <i class="fa fa-user"></i>
                &nbsp;
            </span>

                <span>
                    <b>{{ currentWorkspace.name }}</b>
                </span>

                <span title="Manage workspace" class="pull-right"
                      style="cursor: pointer"
                      ng-click="showWorkspaceManager()"
                      ng-show="canManageAccess()">

                    <i class="fa fa-cogs"></i>

                </span>

            </header>

            <form ng-submit="addTodo()" ng-show="canManageCollection()">

                <div class="input-group task-add">
                    <input class="form-control input-sm" type="text" placeholder="What needs to be done?"
                           ng-model="newTodo" autofocus autocomplete="off">
                    <span class="btn btn-success btn-sm input-group-addon"
                          ng-click="addTodo()">
                        <i class="fa fa-plus"></i>
                        &nbsp;
                        Add task
                    </span>
                </div>

            </form>

            <div class="panel-body">

                <div class="task-content">

                    <div ng-switch="loading">
                        <div ng-switch-when="true">
                            <div ng-include="'/client/views/common/loader-view.html'"></div>
                        </div>
                        <div ng-switch-when="false">

                            <div ng-switch="todos.length > 0">
                                <div ng-switch-when="true">

                                    <ul class="task-list">

                                        <li ng-repeat="todo in todos | filter:statusFilter"
                                            ng-class="{ 'task-done' : todo.completed }"
                                            is-lats-item="{{ $last }}">

                                            <div class="task-checkbox" ng-show="canManageCollection()">
                                                <input type="checkbox" class="list-child"
                                                       ng-model="todo.completed" ng-change="mark(todo)">
                                            </div>

                                            <div class="task-title">

                                <span class="task-title-sp"
                                      style="vertical-align: sub;">
                                    {{ todo.title }}
                                </span>

                                                <div class="pull-right hidden-phone">

                                        <span style="padding-right: 8px;vertical-align: sub;">
                                            {{ todo.createdDate | dateFilter:'mmmm d, yyyy, h:MM TT' }}
                                        </span>

                                                    <span class="btn btn-primary btn-xs" title="Edit"
                                                          ng-click="showItemEditor(todo)"
                                                          ng-show="canManageCollection()">
                                                        <i class="fa fa-pencil"></i>
                                                    </span>
                                                    <span class="btn btn-danger btn-xs" title="Remove"
                                                          ng-click="removeTodo(todo)"
                                                          ng-show="canManageCollection()">
                                                        <i class="fa fa-trash-o"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>

                                </div>
                                <div ng-switch-when="false">

                                    <div class="text-center">
                                        <div class="row clearfix">
                                            <div class="col-md-12 column">
                                                <b>No records</b>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="add-task-row">

                    <div class="row clearfix">
                        <div class="col-md-3 column">
                            <span class="btn btn-primary btn-sm pull-left"
                                  ng-model="allChecked" ng-click="markAll(!allChecked)"
                                  ng-class="{ 'disabled' : !todos.length }"
                                  ng-show="canManageCollection()"
                                  btn-checkbox>
                                <i class="fa fa-check"></i>
                                &nbsp;
                                Select all
                            </span>
                        </div>

                        <div class="col-md-6 column text-center">
                            <div class="btn-group">
                                <label ng-repeat="viewMode in viewModes"
                                       class="btn btn-success btn-sm"
                                       ng-model="currentViewMode"
                                       ng-click="setViewMode(viewMode)"
                                       btn-radio="viewMode">
                                    <i class="fa {{ viewMode.icon }}"></i>
                                    &nbsp;
                                    {{ viewMode.title }}
                                </label>
                            </div>
                        </div>

                        <div class="col-md-3 column">
                            <span class="btn btn-danger btn-sm pull-right"
                                  ng-show="remainingCount < todos.length && canManageCollection()"
                                  ng-click="clearDoneTodos()">
                                <i class="fa fa-trash-o"></i>
                                &nbsp;
                                Clear completed ({{ todos.length - remainingCount }})
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </section>

    </div>

    <div class="col-md-2 column">
    </div>

</div>