<div class="panel col-sm-4 col-sm-offset-4" style="margin-top: 80px">

    <h1><span class="fa fa-sign-in" ng-click="quickLogin()"></span> {{ 'login.title' | translate }}</h1>

    <div ng-show="errorMessage != null">
        <alert type="danger" close="errorMessage = null" class="text-center">
            <span class="pull-left">
                <i class="fa fa-exclamation-triangle" style="font-size: 1.5em;"></i>
            </span>
            {{ errorMessage }}
        </alert>
    </div>

    <form ng-submit="login()" autocomplete="off">

        <div class="form-group" ng-show="treeModel.length > 0">

            <label>{{ 'login.select_workspace' | translate }}</label>

            <br>

            <div class="btn-group" dropdown is-open="workspaceDropdown.isOpen">

                <button type="button" class="btn btn-primary dropdown-toggle">
                    {{ currentWorkspace.name }} <span class="caret"></span>
                </button>

                <ul class="dropdown-menu" role="menu">
                    <li style="margin: 0">

                        <a href workspace-tree tree-id="login-tree" tree-model="treeModel"
                           on-selection="onWorkspaceChanged(node)"
                           on-loading="onWorkspaceLoading(item, callback)"
                           style="padding-left: 0;padding-right: 0;">
                        </a>

                    </li>
                </ul>

            </div>

        </div>

        <div class="form-group">
            <label>{{ 'login.email' | translate }}</label>

            <div class="input-group" ng-class="{ 'has-error' : !isEmailValid() }">
                <div class="input-group-addon"><i class="fa fa-at"></i></div>
                <input class="form-control" type="email" ng-model="email"
                       placeholder="{{ 'login.email_placeholder' | translate }}"
                       autocomplete="off">
            </div>
        </div>

        <div class="form-group">
            <label>{{ 'login.password' | translate }}</label>

            <div class="input-group" ng-class="{ 'has-error' : !isPasswordValid() }">
                <div class="input-group-addon"><i class="fa fa-key"></i></div>
                <input class="form-control" type="password" ng-model="password"
                       placeholder="{{ 'login.password_placeholder' | translate }}"
                       autocomplete="off">
            </div>
        </div>

        <span ng-click="login()" class="btn btn-warning"
              ng-disabled="!(isEmailValid() && isPasswordValid()) || isSystemEmpty">
            {{ 'login.btn_login' | translate }}
        </span>

    </form>

    <hr>

    <p>{{ 'login.need_an_account' | translate }}?
        <a href="#/sign-up">{{ 'login.sign_up' | translate }}</a>
    </p>

    <p>{{ 'login.or_go' | translate }}
        <a href="#/">{{ 'login.home' | translate }}</a>
    </p>

</div>