<div class="panel col-sm-4 col-sm-offset-4" style="margin-top: 80px">

    <h1>
        <span class="fa fa-sign-in" ng-click="quickLogin()">
        </span>
        <l10n key="login.title"></l10n>
    </h1>

    <div ng-show="errorMessage != null">
        <alert type="danger" close="errorMessage = null" class="text-center">
            <span class="pull-left">
                <i class="fa fa-exclamation-triangle" style="font-size: 1.5em;"></i>
            </span>
            {{ errorMessage }}
        </alert>
    </div>

    <form ng-submit="login()" autocomplete="off">

        <div class="form-group" ng-show="treeModel.length > 0">

            <label>
                <l10n key="login.select_workspace"></l10n>
            </label>

            <br>

            <div class="btn-group" dropdown is-open="workspaceDropdown.isOpen">

                <button type="button" class="btn btn-primary dropdown-toggle">
                    {{ currentWorkspace.name }} <span class="caret"></span>
                </button>

                <ul class="dropdown-menu" role="menu">
                    <li style="margin: 0">

                        <a href workspace-tree tree-id="login-tree" tree-model="treeModel"
                           on-selection="onWorkspaceChanged(node)"
                           on-loading="onWorkspaceLoading(item, callback)"
                           style="padding-left: 0;padding-right: 0;">
                        </a>

                    </li>
                </ul>

            </div>

        </div>

        <div class="form-group">
            <label>
                <l10n key="login.email"></l10n>
            </label>

            <div class="input-group" ng-class="{ 'has-error' : !isEmailValid() }">
                <div class="input-group-addon">
                    <i class="fa fa-at"></i>
                </div>
                <input class="form-control" type="email" ng-model="email"
                       l10n="placeholder" placeholder-key="login.email_placeholder"
                       autocomplete="off">
            </div>
        </div>

        <div class="form-group">
            <label>
                <l10n key="login.password"></l10n>
            </label>

            <div class="input-group" ng-class="{ 'has-error' : !isPasswordValid() }">
                <div class="input-group-addon">
                    <i class="fa fa-key"></i>
                </div>
                <input class="form-control" type="password" ng-model="password"
                       l10n="placeholder" placeholder-key="login.password_placeholder"
                       autocomplete="off">
            </div>
        </div>

        <span ng-click="login()" class="btn btn-warning"
              ng-disabled="!(isEmailValid() && isPasswordValid()) || isSystemEmpty">
            <l10n key="login.btn_login"></l10n>
        </span>

    </form>

    <hr>

    <p>
        <l10n key="login.need_an_account"></l10n>
        <a href="#/sign-up">
            <l10n key="login.sign_up"></l10n>
        </a>
    </p>

    <p>
        <l10n key="login.or_go"></l10n>
        <a href="#/">
            <l10n key="login.home"></l10n>
        </a>
    </p>

</div>