<div class="panel col-sm-4 col-sm-offset-4" style="margin-top: 80px">

    <h1><span class="fa fa-sign-in" ng-click="quickLogin()"></span> Login</h1>

    <div ng-show="errorMessage != null">
        <alert type="danger" close="errorMessage = null" class="text-center">
            {{ errorMessage }}
        </alert>
    </div>

    <form ng-submit="login()" autocomplete="off">

        <div class="form-group" ng-show="treeModel.length > 0">

            <label>Select workspace</label>

            <br>

            <div class="btn-group" dropdown is-open="workspaceDropdown.isOpen">

                <button type="button" class="btn btn-primary dropdown-toggle">
                    {{ currentWorkspace.name }} <span class="caret"></span>
                </button>

                <ul class="dropdown-menu" role="menu">
                    <li style="margin: 0">

                        <a href workspace-tree tree-id="login-tree" tree-model="treeModel"
                           on-selection="onWorkspaceChanged(node)"
                           on-loading="onWorkspaceLoading(item, callback)"
                           style="padding-left: 0;padding-right: 0;">
                        </a>

                    </li>
                </ul>

            </div>

        </div>

        <div class="form-group" ng-class="{ 'has-error' : !isEmailValid() }">
            <label>Email</label>
            <input type="text" class="form-control" name="email" ng-model="email">
        </div>

        <div class="form-group" ng-class="{ 'has-error' : !isPasswordValid() }">
            <label>Password</label>
            <input type="password" class="form-control" name="password" ng-model="password">
        </div>

        <button type="submit" class="btn btn-warning">Login</button>

    </form>

    <hr>

    <p>Need an account? <a href="#/sign-up">Signup</a></p>

    <p>Or go <a href="#/">home</a>.</p>

</div>