<div class="panel col-sm-4 col-sm-offset-4" style="margin-top: 15px">

    <h1>
        <span class="fa fa-user" ng-click="quickSignIn()">
        </span>
        <span l10n key="login.title"></span>
    </h1>

    <div ng-show="errorMessage != null">
        <alert type="danger" close="errorMessage = null" class="text-center">
            <span class="pull-left">
                <i class="fa fa-exclamation-triangle" style="font-size: 1.5em;"></i>
            </span>
            {{ errorMessage }}
        </alert>
    </div>

    <div social-networks action="sign-in"></div>

    <form ng-submit="signIn()" autocomplete="off">

        <div class="form-group" ng-show="treeModel.length > 0">

            <label>
                <span l10n key="login.select_workspace"></span>
            </label>

            <br>

            <div class="btn-group" dropdown is-open="workspaceDropdown.isOpen">

                <button type="button" class="btn btn-primary dropdown-toggle">
                    {{ currentWorkspace.name }} <span class="caret"></span>
                </button>

                <ul class="dropdown-menu" role="menu">
                    <li style="margin: 0">

                        <a href workspace-tree tree-id="login-tree" tree-model="treeModel"
                           on-selection="onWorkspaceChanged(node)"
                           on-loading="onWorkspaceLoading(item, callback)"
                           style="padding-left: 0;padding-right: 0;">
                        </a>

                    </li>
                </ul>

            </div>

        </div>

        <div class="form-group">
            <label>
                <span l10n key="login.email"></span>
            </label>

            <div class="input-group" ng-class="{ 'has-error' : !isEmailValid() }">
                <div class="input-group-addon">
                    <i class="fa fa-at"></i>
                </div>
                <input class="form-control" type="email" ng-model="email"
                       l10n="placeholder" placeholder-key="login.email_placeholder"
                       autocomplete="off">
            </div>
        </div>

        <div class="form-group">
            <label>
                <span l10n key="login.password"></span>
            </label>

            <div class="input-group" ng-class="{ 'has-error' : !isPasswordValid() }">
                <div class="input-group-addon">
                    <i class="fa fa-key"></i>
                </div>
                <input class="form-control" type="password" ng-model="password"
                       l10n="placeholder" placeholder-key="login.password_placeholder"
                       autocomplete="off">
            </div>
        </div>

        <span ng-click="login()" class="btn btn-warning"
              ng-disabled="!(isEmailValid() && isPasswordValid()) || isSystemEmpty">
            <span l10n key="login.btn_login"></span>
        </span>

    </form>

    <hr>

    <p>
        <span>Forgot your password?</span>
        <a href="#/recover-password">
            <span>Recover password</span>
        </a>
    </p>

    <p>
        <span l10n key="login.need_an_account"></span>
        <a href="#/sign-up">
            <span l10n key="login.sign_up"></span>
        </a>
    </p>

    <p>
        <span l10n key="login.or_go"></span>
        <a href="#/">
            <span l10n key="login.home"></span>
        </a>
    </p>

</div>