<div class="panel col-sm-4 col-sm-offset-4" style="margin-top: 80px">

    <h1><span class="fa fa-sign-in" ng-click="quickSingUp()"></span>
        <span l10n key="sign_up.title"></span>
    </h1>

    <div ng-show="errorMessage != null">
        <alert type="danger" close="errorMessage = null" class="text-center">
            <span class="pull-left">
                <i class="fa fa-exclamation-triangle" style="font-size: 1.5em;"></i>
            </span>
            {{ errorMessage }}
        </alert>
    </div>

    <form ng-submit="signUp()" autocomplete="off">

        <div class="form-group">
            <label>
                <span l10n key="sign_up.name"></span>
            </label>

            <div class="input-group" ng-class="{ 'has-error' : !isNameValid() }">
                <div class="input-group-addon">
                    <i class="fa fa-user"></i>
                </div>
                <input class="form-control" type="text" ng-model="name"
                       l10n="placeholder" placeholder-key="sign_up.name_placeholder"
                       autocomplete="off">
            </div>
        </div>

        <div class="form-group">
            <label>
                <span l10n key="sign_up.email"></span>
            </label>

            <div class="input-group" ng-class="{ 'has-error' : !isEmailValid() }">
                <div class="input-group-addon"><i class="fa fa-at"></i></i></div>
                <input class="form-control" type="email" ng-model="email"
                       l10n="placeholder" placeholder-key="sign_up.email_placeholder"
                       autocomplete="off">
            </div>
        </div>

        <div class="form-group">
            <label>
                <span l10n key="sign_up.password"></span>
            </label>

            <div class="input-group" ng-class="{ 'has-error' : !isPasswordValid() }">
                <div class="input-group-addon"><i class="fa fa-key"></i></i></i></div>
                <input class="form-control" type="password" ng-model="password"
                       l10n="placeholder" placeholder-key="sign_up.password_placeholder"
                       autocomplete="off">
            </div>
        </div>

        <div class="form-group">
            <label>
                <span l10n key="sign_up.retype_password"></span>
            </label>

            <div class="input-group" ng-class="{ 'has-error' : !isPasswordValid() }">
                <div class="input-group-addon"><i class="fa fa-key"></i></i></i></div>
                <input class="form-control" type="password" ng-model="retypedPassword"
                       l10n="placeholder" placeholder-key="sign_up.retype_password_placeholder"
                       autocomplete="off">
            </div>
        </div>

        <span ng-click="signUp()" class="btn btn-warning"
              ng-disabled="!(isNameValid() && isEmailValid() && isPasswordValid())">
            <span l10n key="sign_up.btn_sign_up"></span>
        </span>
    </form>

    <hr>

    <p>
        <span l10n key="sign_up.already_have_an_account"></span>
        <a href="#/login">
            <span l10n key="sign_up.login"></span>
        </a>
    </p>

    <p>
        <span l10n key="sign_up.or_go"></span>
        <a href="#/">
            <span l10n key="sign_up.home"></span>
        </a>
    </p>
</div>