<form ng-submit="addLecture()" ng-show="canManageCollection()">

    <div class="input-group task-add">

        <div class="form-group-sm" ng-class="{ 'has-feedback' : !!lectureModel.title }">
            <label class="control-label" ng-show="false"></label>
            <input type="text" class="form-control input-sm" id="main-input"
                   l10n="placeholder" placeholder-key="home.enter_lecture_title"
                   autofocus autocomplete="off" ng-model="lectureModel.title"
                   style="border-top-left-radius: 4px;border-bottom-left-radius: 4px;">
                <span class="form-control-feedback" style="top: 0"
                      ng-show="!!lectureModel.title">
                    <i class="fa fa-times" style="cursor: pointer"
                       tooltip="{{ 'home.clear' | translate }}"
                       ng-click="lectureModel.title = ''"></i>
                </span>
        </div>

         <span class="input-group-btn">

             <span class="btn btn-success btn-sm"
                   ng-click="addLecture()">
                 <i class="fa fa-plus"></i>
                 &nbsp;
                 <span l10n key="home.add_lecture"></span>
             </span>

         </span>

    </div>

</form>

<div class="panel-body">

<div class="task-content">

<div ng-switch="loading">
    <div ng-switch-when="true">
        <div static-include="/public/client/views/common/loader-view.html"></div>
    </div>
    <div ng-switch-when="false">

        <div ng-switch="lectures.length > 0">
            <div ng-switch-when="true">

                <ul class="task-list">

                    <li ng-repeat="lecture in lectures"
                        style="list-style-type: none;"
                        is-lats-item="{{ $last }}"
                        ng-class="{ 'task-done' : lecture.condition['status'] == 'suspended' }">

                        <span ng-switch="canManageLecture(lecture)">
                            <span ng-switch-when="true">

                                <span class="task-title">

                                    <span class="pull-left">

                                        &nbsp;

                                        <a class="btn btn-success btn-xs"
                                           tooltip="{{ 'home.start_lecture' | translate }}"
                                           ng-show="lecture.condition['status'] == 'stopped'"
                                           ng-click="startLecture(lecture)">
                                            <i class="fa fa-play"></i>
                                        </a>

                                        <a class="btn btn-primary btn-xs"
                                             tooltip="{{ 'home.resume_lecture' | translate }}"
                                             ng-show="lecture.condition['status'] == 'suspended'"
                                             ng-click="resumeLecture(lecture)">
                                            <i class="fa fa-play"></i>
                                        </a>

                                        <a class="btn btn-primary btn-xs"
                                             tooltip="{{ 'home.suspend_lecture' | translate }}"
                                             ng-show="lecture.condition['status'] == 'started'"
                                             ng-click="suspendLecture(lecture)">
                                            <i class="fa fa-pause"></i>
                                        </a>

                                        <a class="btn btn-danger btn-xs"
                                             tooltip="{{ 'home.stop_lecture' | translate }}"
                                             ng-show="lecture.condition['status'] == 'started' || lecture.condition['status'] == 'suspended'"
                                             ng-click="stopLecture(lecture)">
                                            <i class="fa fa-stop"></i>
                                        </a>

                                    </span>

                                    &nbsp;

                                    <span class="task-title-sp" style="vertical-align: sub;">
                                        <span ng-switch="lecture.condition['status']">
                                            <span ng-switch-when="stopped">
                                                {{ lecture.title }}
                                            </span>
                                            <span ng-switch-default>
                                                <a ng-href="/#/lectures/lecture-board/{{ lecture.id }}">
                                                    {{ lecture.title }}
                                                </a>
                                            </span>
                                        </span>
                                    </span>

                                    <span class="pull-right hidden-phone">

                                        <span ng-switch="lecture.condition['status']">
                                            <span ng-switch-when="stopped">
                                                <span style="padding-right: 8px;vertical-align: sub;">
                                                    {{ lecture.creationDate | formatDate:'mmm d, yyyy, h:MM TT' }}
                                                </span>
                                            </span>
                                            <span ng-switch-default>
                                                <span class="pull-left"
                                                      style="padding-right: 6px;padding-top: 4px;cursor: pointer">
                                                    <i class="fa fa-users"
                                                       tooltip="Присутні слухачі"
                                                       ng-click="showPresentListeners(lecture)">
                                                    </i>&nbsp;<b>{{ getPresentListenersCount(lecture) }}</b>
                                                </span>

                                                <span class="pull-left"
                                                      style="padding-right: 3px;padding-top: 4px;">
                                                    <i class="fa fa-clock-o"
                                                       tooltip="Продовження леції">
                                                    </i>&nbsp;<b>{{ getLectureDuration(lecture) |
                                                    formatTimestamp
                                                    }}</b>
                                                </span>

                                                &nbsp;

                                            </span>
                                        </span>

                                        <a class="btn btn-default btn-xs"
                                           ng-show="lecture.condition['status'] == 'stopped'"
                                           tooltip="{{ 'home.show_lecture_statistic' | translate }}"
                                           ng-href="/#/lectures/administration/lecture-statistic/{{ lecture.id }}"
                                           style="padding-left: 4px;padding-right: 4px;">
                                            <i class="fa fa-area-chart"></i>
                                        </a>

                                        <a class="btn btn-primary btn-xs"
                                           ng-disabled="lecture.condition['status'] != 'stopped'"
                                           tooltip="{{ 'home.edit' | translate }}"
                                           ng-href="/#/lectures/administration/lecture-manager/{{ lecture.id }}"
                                           ng-show="canManageCollection()">
                                            <i class="fa fa-pencil"></i>
                                        </a>

                                        <a class="btn btn-danger btn-xs"
                                           ng-disabled="lecture.condition['status'] != 'stopped'"
                                           tooltip="{{ 'home.remove' | translate }}"
                                           ng-click="removeLecture(lecture)"
                                           ng-show="canManageCollection()"
                                           style="padding-left: 6px;padding-right: 6px;">
                                            <i class="fa fa-trash-o"></i>
                                        </a>

                                        &nbsp;

                                    </span>

                                </span>

                            </span>
                            <span ng-switch-when="false">

                                <span class="task-title">

                                    &nbsp;

                                    <span class="task-title-sp" style="vertical-align: sub;">
                                        <span ng-switch="lecture.condition['status']">
                                            <span ng-switch-when="stopped">
                                                {{ lecture.title }}
                                            </span>
                                            <span ng-switch-default>
                                                <a ng-href="/#/lectures/lecture-hall/{{ lecture.id }}">
                                                    {{ lecture.title }}
                                                </a>
                                            </span>
                                        </span>
                                    </span>

                                    <span class="pull-right hidden-phone">

                                        <span ng-switch="lecture.condition['status']">
                                            <span ng-switch-when="stopped">
                                                <span style="padding-right: 8px;vertical-align: sub;">
                                                    {{ lecture.creationDate | formatDate:'mmm d, yyyy, h:MM TT' }}
                                                </span>
                                            </span>
                                            <span ng-switch-default>
                                                <span class="pull-left"
                                                      style="padding-right: 6px;padding-top: 4px;cursor: pointer">
                                                    <i class="fa fa-users"
                                                       tooltip="Присутні слухачі"
                                                       ng-click="showPresentListeners(lecture)">
                                                    </i>&nbsp;<b>{{ getPresentListenersCount(lecture) }}</b>
                                                </span>

                                                <span class="pull-left"
                                                      style="padding-right: 3px;padding-top: 4px;">
                                                    <i class="fa fa-clock-o"
                                                       tooltip="Продовження леції">
                                                    </i>&nbsp;<b>{{ getLectureDuration(lecture) |
                                                    formatTimestamp
                                                    }}</b>
                                                </span>
                                            </span>
                                        </span>

                                        &nbsp;

                                    </span>

                                </span>

                            </span>
                        </span>

                    </li>

                </ul>

            </div>

            <div ng-switch-when="false">

                <div class="text-center">
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <span l10n key="home.no_lectures"></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

</div>

</div>